@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);

}

main {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

article {
    border: 1px solid var(--neutral-black);
    border-radius: 15px;
    padding: 18px;
    background: var(--neutral-white);
    box-shadow: 7px 7px var(--neutral-black);
    width: 100%;
}

article:active {
    cursor: url('./assets/images/cursor.png'), auto;
    box-shadow: 10px 10px var(--neutral-black);
}

article:hover {
    cursor: url('./assets/images/cursor.png'), auto;
    box-shadow: 10px 10px var(--neutral-black);
}

.card-image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mark {
    display: inline-block;
    background: var(--primary-color);
    font-size: 12px;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 3px;
    margin-bottom: 12px;
}

mark {
    background-color: var(--primary-color);
}

.date {
    font-size: 10px;
    font-weight: 600;
    color: var(--neutral-black);
    margin-bottom: 12px;
}

.heading h2 {
    color: var(--neutral-black);
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 12px;
}

.heading h2:active {
    color: var(--primary-color);
}

.heading h2:hover {
    color: var(--primary-color);
}

.description p {
    color: var(--neutral-grey);
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#author {
    display: flex;
    align-items: center;
}

#author img {
    width: 25px;
    margin-right: 10px;
}

#author p {
    color: var(--neutral-black);
    font-size: 12px;
    font-weight: 900;
}

.attribution {
    font-size: 12px;
}

.attribution a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: url('./assets/images/cursor.png'), auto;
}